.bootstrap-datetimepicker-widget {
    z-index: 5000;
}

.dropdown.mesour-filter-dropdown {
    position: relative;
    display: inline-block;
    margin-right: 5px;
}

.dropdown.mesour-filter-dropdown .dropdown-menu > .dropdown-submenu > span > button {
    display: none;
}

.mesour-filter-dropdown .box-inner {
    margin-left: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-right: none;
    max-height: 200px;
    overflow: auto;
    overflow-x: hidden;
}

.mesour-filter-dropdown .box-inner ul {
    padding-left: 0;
    list-style-type: none;
    width: 305px;
}

.mesour-filter-dropdown .box-inner ul li {
    padding-left: 10px;
    line-height: 10px;
}

.mesour-filter-dropdown .box-inner li.all-select-li,
.mesour-filter-dropdown .box-inner li.all-select-searched-li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 3px;
}

.mesour-filter-dropdown .box-inner li.all-select-searched-li {
    display: none;
}

.mesour-filter-dropdown .box-inner li.li-checked > label {
    font-weight: bold;
}

.mesour-filter-dropdown .box-inner label {
    font-weight: normal;
    font-size: 12px;
}

.mesour-filter-dropdown .box-inner label.active-one {
    font-weight: bold;
}

.mesour-filter-dropdown .box-inner input {
    position: relative;
    top: 3px;
}

.mesour-filter-dropdown .search {
    margin-bottom: 10px;
    margin-left: 19px;
}

.mesour-filter-dropdown .search-input {
    top: 0;
    border-radius: 0;
    right: -1px;
    border-right: none;
}

.mesour-filter-dropdown .with-buttons {
    height: 33px;
    position: relative;
}

.mesour-filter-dropdown .buttons {
    position: absolute;
    right: 10px;
}

.mesour-filter-dropdown .dropdown-submenu button {
    margin-right: 5px;
}
.mesour-filter-dropdown .dropdown-submenu button > [data-filter-icon] {
    padding-top: 2px;
    padding-bottom: 2px;
    width: 10px;
}

.dropdown.mesour-filter-dropdown .dropdown-menu > li > span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown.mesour-filter-dropdown .dropdown-menu > li > span a {
    color: #000;
}

.dropdown.mesour-filter-dropdown .dropdown-menu > li > span a:hover {
    text-decoration: none;
}

.dropdown.mesour-filter-dropdown .dropdown-menu > li > span:hover,
.dropdown.mesour-filter-dropdown .dropdown-menu > li > span:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.mesour-filter-modal {
    position: fixed;
    top: 150px;
    left: 28%;
}

.mesour-filter-modal.modal-dialog {
    position: fixed;
    left: 36%;
    z-index: 1500;
    display: none;
    width: 450px;
    top: 100px;
}

.mesour-filter-modal .form-inline .form-group.grid-operators {
    margin-left: 38px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.mesour-filter-modal .form-inline .form-group.grid-operators label {
    cursor: pointer;
}

.mesour-filter-modal .grid-operators #grid-operator-and,
.mesour-filter-modal .grid-operators #grid-operator-or {
    position: relative;
    top: 3px;
}

.dropdown.mesour-filter-dropdown .close-all {
    display: none;
}

.dropdown.mesour-filter-dropdown .close-all a {
    font-size: 11px;
}

.dropdown.mesour-filter-dropdown .toggle-sub-ul {
    color: #555;
    cursor: pointer;
}

.dropdown.mesour-filter-dropdown .toggle-sub-ul:hover,
.dropdown.mesour-filter-dropdown .toggle-sub-ul.list-opened {
    color: #000;
    cursor: pointer;
}

.dropdown.mesour-filter-dropdown .toggle-sub-ul:hover {
    border-color: #aaa;
}

.dropdown.mesour-filter-dropdown .toggled-sub-ul {
    display: none;
}

/* bootstrap dropdown submenu */
.mesour-filter-dropdown .dropdown-submenu {
    position: relative;
}

.mesour-filter-dropdown .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.mesour-filter-dropdown .dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.mesour-filter-dropdown .dropdown-submenu > .dropdown-menu .dropdown-menu {
    margin-top: -7px;
}

.mesour-filter-dropdown .dropdown-submenu > a:after,
.mesour-filter-dropdown .dropdown-submenu > span:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.mesour-filter-dropdown .dropdown-submenu:hover > a:after,
.mesour-filter-dropdown .dropdown-submenu:hover > span:after {
    border-left-color: #000;
}

.mesour-filter-dropdown .dropdown-submenu.pull-left {
    float: none !important;
}

.mesour-filter-dropdown .dropdown-submenu.pull-left > .dropdown-menu {
    left: -169px;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}